<html >
<head>
  <title>Thyroid Prediction</title>  
</head>

<body>
 <div>
	<h1>Predict Thyroid Paitent</h1>

    <form action="{{ url_for('getprediction')}}"method="post">
    	<input type="text" name="Thyroxine value" placeholder="TT4" required="required" />
	 <input type="text" name="test_score" placeholder="T3" required="required" />
	    
        <button type="submit" class="btn btn-primary btn-block btn-large">getprediction</button>
    
</form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
